[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
    shallow = true

[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
    shallow = true
